<div>
  <h4>1. The number of order every date</h4>
  <%= line_chart @number_of_order_every_date %>
</div>

<div>
  <h4>2. The total price of order every date</h4>
  <%= line_chart @total_price_of_order_every_date %>
</div>

<div>
  <h4>3. The number of order for each food</h4>
  <%# @number_of_order_for_each_food.to_json %>
  <%= column_chart @number_of_order_for_each_food %>
</div>
  
<div>
  <h4>4. The total price of order for each food</h4>
  <%= column_chart @total_price_of_order_for_each_food %>
</div>

<div>
  <h4>5. The number of order from each restaurant</h4>
  <%# @number_of_order_from_each_restaurant.to_json %>
  <%= column_chart @number_of_order_from_each_restaurant %>
</div>

<div>
  <h4>5. The total price of order from each restaurant</h4>
  <%= column_chart @total_price_of_order_from_each_restaurant %>
</div>
