<h1>Helllo from Go-Food</h1>
<p>
  It is now <%= @time %>
</p>

<p></p>

<p><%= @users %> -> return berupa array </p> 

<p><%= @users[0] %> -> return berupa object </p> 

<p><%= @users[0].class %> -> class User </p>

<% @users.each do |obj| %>
  <li><%= obj.username %> - <%= obj.full_name %></li>
<% end %>

<%=  %>