<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= "error" %></h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :payment_type %>
    <%= f.select :payment_type, Order.payment_types.keys, prompt: "Select a payment type" %>
  </div>

  <!-- <div class="field"> -->
    <%# f.label :voucher %>
    <%# opt = [] %>
    <%# @vouchers_opt.each do |voucher| %>
      <%# dat = [] %>
      <%# dat << voucher.kode %>
      <%# dat << voucher.id.to_i %>
      <%# opt << dat %>
    <%# end %>
    <%# select(:order, :voucher_id, options_for_select(opt), id: :order_voucher  ) %>
  <!-- </div> -->

  <!-- <div class="field">
    <%# f.label :voucher %>
    <%# f.text_field :voucher_kode, size: 40 %>
  </div> -->

  <div class="field">
    <%= f.label :voucher %>
    <%= text_field_tag :voucher_kodex %>
  </div>

  <div class="actions">
    <%= f.submit "Place order" %>
  </div>
<% end %>