<p id="notice"><%= notice %></p>

<p>
  <strong>Order ID :</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Name :</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address :</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email :</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Payment type :</strong>
  <%= @order.payment_type %>
</p>

<% no = 1 %>
<table border=1>
  <tr>
    <th>No.</th>
    <th>Food Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
  </tr>
<% @order.line_items.each do |item| %>
  <tr>
    <td><%= no %></td>
    <td><%= item.food.name %></td>
    <td><%= item.food.price %></td>
    <td><%= item.quantity %></td>
    <td><%= item.total_price %></td>
  </tr>
<% no += 1 %>
<% end %>
  <tr>
    <td colspan=4 align="right">Total</td>
    <td><%= @order.total_price %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
