<p id="notice"><%= notice %></p>

<h1>Tags</h1>
<p>
  <%# @tags[0].foods.to_json %>
</p>
<p>
  <%# @tags.find_by(id: 1).to_json %>
</p>
<p>
  <%# @tags.to_json %>
</p>
<table>
  <% @tags.each do |tag| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= tag.name %></td>
      <td>
        <%= link_to 'Show', tag %>  
        <%= link_to 'Edit', edit_tag_path(tag) %>  
        <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Tag', new_tag_path %>