<p id="notice"><%= notice %></p>

<h1>Vouchers</h1>

<table>
  <tr>
    <th>kode</th>
    <th>valid from</th>
    <th>valid through</th>
    <th>unit</th>
    <th>amount</th>
    <th>max amount</th>
    <th>action</th>
  </tr>
    <% @vouchers.each do |voucher| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= voucher.kode %></td>
        <td><%= voucher.valid_from %></td>
        <td><%= voucher.valid_through %></td>
        <td><%= voucher.unit %></td>        
        <td><%= voucher.amount %></td>
        <td><%= voucher.max_amount %></td>
        <td class="list_action">
          <%= link_to 'Show', voucher %>
          <%= link_to 'Edit', edit_voucher_path(voucher) %>
          <%= link_to 'Destroy', voucher, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Voucher', new_voucher_path %>
