<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Foods:</strong>
  <% @restaurant.foods.each do |food| %>
    <%= food.name %>
  <% end %>
</p>

<p>
  <strong>Review:</strong>
  <table border=1>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
    <% @restaurant.reviews.each do |reviewable| %>
      <tr>
        <td><%= reviewable.name %></td>
        <td><%= reviewable.title %></td>
        <td><%= reviewable.description %></td>
      </tr>
    <% end %>
  </table>
</p>

<%= render 'admin/foods' %>
<%# @foods.to_json %>


<%= link_to 'Edit', edit_category_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>