<p id='notice'><%= notice %></p>
<h1>Your Food Catalog</h1>

<%# Food.all.to_json %>
<%# Category.all.to_json %>

<% Restaurant.all.each do |restaurant| %>
  <div style="background: yellow; padding: 10px 5px; margin-top: 0px">
    <h2><%= link_to restaurant.name, restaurant %></h2>
    <%= link_to 'Write Review', new_restaurant_review_path(restaurant_id: restaurant) %>
    <%# link_to 'Write Review', "/restaurants/#{restaurant.id}/reviews/new" %>
  </div>    

  <% restaurant.foods.each do |food| %>
    <div class='entry'>
      <%= image_tag(food.image_url) %>
      <h3><%= link_to food.name, food %></h3>
      <p><%= link_to 'Write Review', new_food_review_path(food_id: food) %></p>
      <p><%= sanitize(food.description) %></p>
      <div class='price_line'>
        <span class="price">
          <%= number_to_currency(food.price, unit: "Rp ", delimiter: ".", separator: ",") %>
          <%= button_to 'Add to Cart', line_items_path(food_id: food), remote: true %>
        </span>
      </div>
      <div class="tags_line">
        Category : 
        <span class="tags"><%= food.category.try(:name) %></span>
      </div>
      <div class="tags_line">
        Tag : 
        <% food.tags.each do |tag| %>
          <span class="tags"><%= tag.name %></span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>